/*
    Name: Elliot Ignatyev
    Email: anna_ignatyev@student.uml.edu
    Course: Fall 2019 GUI Programming I
    Date: 10/9/19
    Assignment: Assignment 4
    Validated using the W3C CSS Validation Service
*/

/*
    To the whole page, a font color is specified, as well as a default font size. The scroll behavior is changed so that when hyperlinks on the page are pressed to move to different parts of the page, that it doesn't jump to the segment.
*/
body {
    font-size: 1.25em;
    scroll-behavior: smooth;
    background-image: url(../snowy_day.jpg);
    font-family: calluna, Georgia, Times, "Times New Roman", serif;
    color: #F9E1E1;
}

/*
    Changes the color and styling for a majority of the links on the page. This is a base precident, so that exceptions to this can be made below.
*/
a:visited {
    color: #F9E1E1;
    text-decoration: none;
}

a:link {
    color: #F9E1E1;
    text-decoration: none;
}

a:hover {
    color: #A497E8;
    text-decoration: none;
}

a:active {
    color: #A7CBCB;
    text-decoration: none;
}

/*
    The header and aboutMe sections are formatted so that it seems that they are in the same box, even though they are not. The header and aboutMe background is slightly transparent, while the individual sections of the aboutMe section are opaque.
    aboutMe is formatted in a grid, with the elements going from larger to smaller(aside from the 'toAssign' section, which is smaller).
    The toAssign section is a different color to signify it is a link visually.
*/
header {
    margin-left: 20px;
    text-align: center;
    background-color: rgba(65, 49, 49, 75%);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    width: 50%;
    margin: auto;
    padding: 50px 50px 15px 50px;
    margin-top: 25px;
}

#aboutMe {
    margin: auto;
    width: 50%;
    padding: 0 50px 50px 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    text-align: center;
    margin-bottom: 50px;
    grid-row-gap: 25px;
    background-color: rgba(65, 49, 49, 75%);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-color: #C9BEBE;
}

.aboutSections {
    border-radius: 10%;
    border-style: dotted;
    background-color: rgba(65, 49, 49, 100%);
}

#toAssign {
    grid-column: 3;
    grid-row: 1;
    padding: 10px;
}

#toAssign a:visited {
    color: #d9b1b1;
}

#toAssign a:link {
    color: #d9b1b1;
}

#toAssign a:hover {
    color: #A497E8;
}

#toAssign a:active {
    color: #A7CBCB;
}

#desc {
    grid-column: 1/6;
    grid-row: 2/4;
    margin: 0 100px 0 100px;
}

 #basicInfo {
     grid-column: 2/5;
     grid-row: 4/5;
 }

#hobbies {
    grid-row: 5;
    grid-column: 3;
}

/*
    To the contents section, it makes it so that it is floating next to the assignList section, but is not floating on the entire page(like if the user was on the aboutMe section). It is aligned so that it is inside the assignmentList section, and remains to the right side of it.
*/
#contents {
    background-color: #434141;
    margin-right: 75px;
    margin-top: 25px;
    padding: 15px;
    height: auto;
    width: auto;
    position: sticky;
    top: 100px;
    float: right;
    border-radius: 25px;
    box-shadow: 15px 15px 15px 15px rgba(61, 39, 39, .5);
    border-style: solid;
    text-align: center;
}

ul {
    list-style: none;
    text-align: left;
}

/*
    To the assignmentList section, formats it so that the headers for each section are larger with a lower border, with the paragraphs indented, and the blockquotes are indented further along with left and right borders.
*/
#assignmentList {
    background-color: #555451;
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 7%;
}

#assignmentList h2 {
    text-align: center;
    font-size: 4em;
    border-bottom-style: double;
    border-width: 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
    margin-right: 17%;
}

#assignList {
    padding: 10px;
    width: 83%;
}

.assign {
    overflow: auto;
    margin-left: 10%;
}

.assign h3 {
    font-size: 3em;
    border-bottom-style: dashed;
    border-bottom-width: 5px;
    width: 50%;
    margin-left: 100px;
    text-align: center;
}

.assign p {
    margin-left: 5%;
    margin-right: 8%;
}

.assign blockquote {
    width: 80%;
    margin: auto;
    margin-left: 10%;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-style: solid;
    border-right-width: 5px;
    padding: 10px;
}

.assign iframe {
    float: none;
    border: none;
    height: 300px;
    width: 97%;
    margin-left: 30px;
}
