/*
    Name: Elliot Ignatyev
    Email: anna_ignatyev@student.uml.edu
    Course: Fall 2019 GUI Programming I
    Date:
    Assignment: Assignment 9
    Notes:
*/

/*

*/
body {
    text-align: center;
    font-family: 'Poppins';
    background-color: white;
    color: white;
}

h1 {
    width: 25%;
    margin: auto;
    padding: 20px;
}

#bgImage {
    background-image: url(../images/sboard.jpg);
    position: absolute;
    z-index: -1;
    opacity: 40%;
    width: 100%;
    height: 100%;
}

#app {
    width: 60%;
    margin: auto;
    text-align: center;
    background-image: url(../images/redWood2.jpg);
    padding-bottom: 20px;

}

#board {
    background-image: url(../images/greenFelt.png);
    margin: auto;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-bottom: 100px;
    padding-top: 100px;
    border: ridge #550909 20px;
    width: 85%;
}

.boardTiles {
    width: 95px;
    height: 95px;
    margin: 3px;

}

#score {
    background-color: #b2753e;
    background-image: url(../images/ScrabbleTile/blank.jpg);
    padding-bottom: 5px;
    font-size: 25px;
    margin: auto;
    width: 15%;
    margin-bottom: 20px;
    color: black;
}

h2 {
    background-color:#b97c45;
    background-image: url(../images/redWood2.jpg);
    padding: 5px;
    font-size: 30px;
    color: white;
}

#tilePlacement {
    margin-bottom: 25px;
    background-image: url(../images/scrabbleTileHolder.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px;
    height: 100px;
}

.tiles {
    width: 95px;
    height: 95px;
    opacity: 100%;
    margin: 5px;
}

button {
    background-color: #4CAF50; /* Green */
    background-image: url(../images/lightWood.png);
    border: ridge #c4864c 5px;
    color: black;
    padding: 10px 26px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins';
}
