/*
    Name: Elliot Ignatyev
    Email: anna_ignatyev@student.uml.edu
    Course: Fall 2019 GUI Programming I
    Date: 12/19/19
    Assignment: Assignment 9
*/

/*

*/
body {
    text-align: center;
    font-family: 'Poppins';
    background-color: white;
    color: white;
}

h1 {
    width: 25%;
    margin: auto;
    padding: 20px;
}

/*
    This segment allows for there to be a transparent background image without making the whole app transparent.
*/
#bgImage {
    background-image: url(../images/scrabble/sboard.jpg);
    position: absolute;
    z-index: -1;
    opacity: 40%;
    width: 100%;
    height: 100%;
}

/*
    Makes it so that the whole app is centered and has a background image seperate from the image needed for the tile holder.
*/
#app {
    width: 60%;
    margin: auto;
    text-align: center;
    background-image: url(../images/scrabble/redWood2.jpg);
    padding-bottom: 20px;

}

/*
    This segment is made to look seperate from the rest of the app, despite being a subsection of it. 
    It styles the board where the tiles sit, as well as making it so that the tiles are seperate enough from one another so that 
        it doesn't negatively affect the drag and drop functionality.
*/
#board {
    background-image: url(../images/scrabble/greenFelt.png);
    margin: auto;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-bottom: 100px;
    padding-top: 100px;
    border: ridge #550909 20px;
    width: 85%;
}

.boardTiles {
    width: 95px;
    height: 95px;
    margin: 3px;

}

/*
    This styles the score segment so that it fits in with the rest of the page and doesn't look jarringly out of place.
*/
#score {
    background-color: #b2753e;
    background-image: url(../images/scrabble/lightWood.png);
    padding-bottom: 5px;
    font-size: 25px;
    margin: auto;
    width: 15%;
    margin-bottom: 20px;
    color: black;
}

h2 {
    background-color:#b97c45;
    background-image: url(../images/scrabble/redWood2.jpg);
    padding: 5px;
    font-size: 30px;
    color: white;
}

/*
    This resizes the tiles and makes sure that when they are dropped they don't lose any opacity as of the default jQuery UI css
    This also makes it so that the tile holder is present on the page and looks as though it is 'holding' the tiles
*/
#tilePlacement {
    margin-bottom: 25px;
    background-image: url(../images/scrabble/scrabbleTileHolder.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px;
    height: 100px;
}

.tiles {
    width: 95px;
    height: 95px;
    opacity: 100%;
    margin: 5px;
}

/*
    This styles the buttons so that they fit in on the page and are also noticable. 
*/
button {
    background-image: url(../images/scrabble/lightWood.png);
    border: ridge #c4864c 5px;
    color: black;
    padding: 10px 26px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins';
}
